{{#is current_locale.name 'English (GB)'}}
<footer class="footer-container">
    <div class="footer-content-wrapper">
        
        <div class="footer-links-wrapper container-width">
            <div>
                <div class="row-contained-1tt row-root-1qp">
                    <div style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; justify-content: flex-start; flex-direction: column;">
                        <div class="columnGroup-root-2wf" style="display: flex;">
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">Customer Care</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/my-account" target="_self">My Account</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/delivery" target="_self">Delivery Options</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/returns" target="_self">Returns Policy</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/royalty-club" target="_self">Royalty Club</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/faqs" target="_self">Help &amp; FAQs</a></div>
                                </div>
                            </div>
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">About ELEMIS</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/our-story" target="_self">Our Story</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/our-promise" target="_self">Our Promise</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/blog" target="_self">Blog</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/careers" target="_self">Careers</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/review-panel" target="_self">Join The Review Panel</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/media/ELEMIS_Modern_Slavery_act.pdf" target="_blank">Modern Slavery Act</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/media/Gender_Pay_Gap_Report_2020.pdf" target="_blank">Gender Pay Gap Report</a></div>
                                </div>
                            </div>
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">Where to Buy</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/our-partners" target="_self">Our Partners</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/store-locator" target="_self">Locations</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/our-partners" target="_self">TV Shopping</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/house-of-elemis" target="_self">House of ELEMIS</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/store-locator/" target="_self">Spa &amp; Store Locator</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/skin-wellness" target="_self">Book a Virtual Consultation</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper ">
        <div class="copyright-block container-width">
            <div>© ELEMIS 2022</div>
            <div>
                <div>
                    <div>
                        <div class="row-contained-1tt row-root-1qp footer-bottom-links">
                            <div style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; justify-content: flex-start; flex-direction: column;">
                                <div class="buttons-root-1MU buttons-inline-1ki" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://uk.elemis.com/terms-and-conditions" target="_self" style="text-align: center; justify-content: center;">Terms &amp; Conditions</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://www.iubenda.com/privacy-policy/36933514/full-legal" target="_blank" style="text-align: center; justify-content: center;">Privacy Policy</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{{/is}}

{{#is current_locale.name 'English (US)'}}
<footer class="footer-container footer-us">
    <div class="footer-content-wrapper">
        
        <div class="footer-links-wrapper container-width">
            <div>
                <div class="row-contained-1tt row-root-1qp">
                    <div style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; justify-content: flex-start; flex-direction: column;">
                        <div class="columnGroup-root-2wf" style="display: flex;">
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">Customer Care</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/order-status" target="_self">Track Your Order</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/my-account" target="_self">My Account</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/royalty-club" target="_self">Royalty Club</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/delivery" target="_self">Delivery Options</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/returns" target="_self">Returns Policy</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/faqs" target="_self">Help &amp; FAQs</a></div>
                                </div>
                            </div>
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">About Elemis</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/our-story" target="_self">Our Story</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/our-promise" target="_self">Our Promise</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/blog" target="_self">Blog</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/careers" target="_self">Careers</a></div>
                                </div>
                            </div>
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">Where to Buy</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/skin-wellness" target="_self">Book a Virtual Consultation</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/store-locator" target="_self">Store Locator</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/our-partners" target="_self">Our Partners</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/our-partners#etailers" target="_self">Authorised ELEMIS eTailers</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper ">
        <div class="copyright-block container-width">
            <div>
                © ELEMIS 2022</div>
            <div>
                <div>
                    <div>
                        <div class="row-contained-1tt row-root-1qp footer-bottom-links">
                            <div style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; justify-content: flex-start; flex-direction: column;">
                                <div class="buttons-root-1MU buttons-inline-1ki" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://us.elemis.com/terms-and-conditions" target="_self" style="text-align: center; justify-content: center;">Terms &amp; Conditions</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://www.iubenda.com/privacy-policy/89286566/full-legal" target="_blank" style="text-align: center; justify-content: center;">Privacy Policy</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
       
</footer>
{{/is}}

{{#is current_locale.name 'English (Europe)'}}
<footer class="footer-container">
    <div class="footer-content-wrapper">
        <div class="footer-links-wrapper container-width">
            <div>
                <div class="row-contained-1tt row-root-1qp">
                    <div style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; justify-content: flex-start; flex-direction: column;">
                        <div class="columnGroup-root-2wf" style="display: flex;">
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">Customer Care</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/my-account" target="_self">My Account</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/delivery" target="_self">Delivery Options</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/returns" target="_self">Returns Policy</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/royalty-club" target="_self">Royalty Club</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/faqs" target="_self">Help &amp; FAQs</a></div>
                                </div>
                            </div>
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">About ELEMIS</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/our-story" target="_self">Our Story</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/our-promise" target="_self">Our Promise</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/blog" target="_self">Blog</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/careers" target="_self">Careers</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/review-panel" target="_self">Join The Review Panel</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/media/ELEMIS_Modern_Slavery_act.pdf" target="_blank">Modern Slavery Act</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/media/Gender_Pay_Gap_Report_2020.pdf" target="_blank">Gender Pay Gap Report</a></div>
                                </div>
                            </div>
                            <div class="column-root-1ln pagebuilder-column col-accordion" style="align-self: stretch; border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; flex-direction: column; justify-content: flex-start; width: 33.3333%;">
                                <h3 class="accordion-title" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px;">Where to Buy</h3>
                                <div class="buttons-root-1MU buttons-stacked-Xfp" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/our-partners" target="_self">Our Partners</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/store-locator" target="_self">Locations</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/our-partners" target="_self">TV Shopping</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/house-of-elemis" target="_self">House of ELEMIS</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/store-locator/" target="_self">Spa &amp; Store Locator</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/skin-wellness" target="_self">Book a Virtual Consultation</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper ">
        <div class="copyright-block container-width">
            <div>© ELEMIS 2022</div>
            <div>
                <div>
                    <div>
                        <div class="row-contained-1tt row-root-1qp footer-bottom-links">
                            <div style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; display: flex; justify-content: flex-start; flex-direction: column;">
                                <div class="buttons-root-1MU buttons-inline-1ki" style="border-width: 1px; border-style: none; border-image: initial; border-radius: 0px; justify-content: flex-start;">
                                    <div><a type="link" class="links btn btn-link" href="https://eu.elemis.com/terms-and-conditions" target="_self" style="text-align: center; justify-content: center;">Terms &amp; Conditions</a></div>
                                    <div><a type="link" class="links btn btn-link" href="https://www.iubenda.com/privacy-policy/36933514/full-legal" target="_blank" style="text-align: center; justify-content: center;">Privacy Policy</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{{/is}}